:root {
  --primary: #2F80ED;
  --dark: #222222;
}

body {
  color: var(--dark);
}

.text-primary {
  color: var(--primary);
}

.pop-up-container {
  min-width: 350px;
  position: relative;
  background: #EBF2FD;
  padding: 1rem;
}

.pop-up-titel {
  margin-bottom: 1.5rem;
  font-weight: bold;
  text-align: right;
}

.form-select, .form-control {
  border: none;
  font-size: 16px;
  outline: 0.5px solid #9F9F9F;
}

.service-select select {
  width: 466px;
}

.form-select:hover, .form-control:focus, .form-control:hover {
  transition: 0.1s;
  outline: 2px solid #2F80ED;
}

abbr {
  text-decoration: none !important;
  color: #2F80ED;
}

.btn {
  text-decoration: underline;
  padding: .75rem 1rem;
  border-radius: 0;

  /* &:hover {
    color: $primary;
  }

  &-primary {
    text-decoration: none;
    color: white !important;

    &:hover {
      background: darken($primary, 10%) !important;
    }
  }

  &-clean {
    text-decoration: none;
  } */
}

.btn:hover {
  color: #2F80ED;
}
